.Context{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    right: 0px;
    background-image: url('https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/270486307_473592607693455_1609074819925007343_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=m-5ElawywAEAX9X1qWm&_nc_ht=scontent.fsgn5-10.fna&oh=00_AT8tVhdT56O49tBufMY2Cat5V-AXYeCds2W8FhmXIwsCTQ&oe=61E3E1EC');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    & .logout{
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    & h3{
        font-size: 22px;
        font-weight: bold;
        margin: 0px 20px 5px 10px
    }
    & p{
        font-size: 18px;
        font-weight: 400;
        padding-left: 10px;
        padding-right: 10px;
        color:#FF7506;
        cursor:pointer;
        &:hover{
            text-decoration: underline;

            }
        }
    }
    & .history{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 1000px;
        margin-left: 150px;
        & .root{
            color: #C9C4C0;
            font-size:22px;
            margin:0px;
        }
        & .rootar{
            position: relative;
            top: 3px;
            left: 30px;
        }
        & .root-sub{
            position: relative;
            top: -3px;
            left: 140px;
            transform: scale(1.5);
            color: #373839
        }

    }
    & .dropdown-menu{
        margin-left: 10%;
        margin-bottom: 10px;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        & i{
        margin-right: 30px;

        }
        & span{
            font-size:15px;
            font-weight:600;
            margin-right: 10px;
        }
       & .inputshit {
           justify-content: center;
           align-items: center;
           margin-bottom: 10px;
           width:500px;
            & svg{
                position: relative;
                top: 10px;
                left: 40px;
            }
        & .search{
            background: #F0F3F6;
            border-radius: 24px;
            border: 0px;
            font-size: 18px;
            padding: 10px 20px 10px 50px;
        }}
    }
    & .Board{
        width: 87%;
        height: 60%;
        margin-left: 10%;
        border-radius: 12px;
        .Board-top{
            width: 100px;
            height:50px;
            background: linear-gradient(270deg, #FF5400 0%, #F17F21 80.56%);
            color:white;      
            & i{
                position: absolute;
            }   
        }
        & tbody tr:nth-child(even){
            background-color:#F0F3F6;
            color: white
        }
        & span{
            color: #373839;
            font-style: normal;
            font-weight: normal;
            opacity: 0.8;
        }
        & tbody i{
            cursor: pointer;    
    
        }
     
    }
    & .footer{
        margin-left: 10%;

        & input{
            width: 50px;
            height: 30px;
        }
    }
}